@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

<!--This file still exists because it doesn't depend on any code that exposes endpoints, and also acts as a good intro into Blazor events and code blocks-->
<!--In fact, I might just made this a non-indexed page, and give links to devs to give further help on some Blazor concepts.-->