@page "/"

<HeadContent>
  
</HeadContent>

<PageTitle>Inocybe</PageTitle>
<main>
  <img src="/images/juniper-landscape.jpeg"/>
  <h1>Inocy.be</h1>
  <p>@ActualSubtitle</p>
  
  <button @onclick="ServerIpButtonClick">play.inocy.be</button>
</main>