@page "/"

<PageTitle>UGS</PageTitle>

<p style="color: var(--font-color)">
  Hello. If you're reading this, you may notice I just restarted the landing page. It's doesn't look good. At all. I'm not very good at this. Consider helping?
</p>
<main>
  <div class="title-image"></div>
  <div>

  </div>
</main>