main {
  width: 100%;
}

.title-image {
  width: 80%;
  margin: 20px auto 0px auto;
  height: 500px;
  background-image: url("/images/juniper-landscape.jpeg");
  background-size: cover;
  background-position: center;
}