

img {
  position: absolute;
}

.page {
  position: sticky;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
}

@media (prefers-color-scheme: dark) {
  .page {
    backdrop-filter: blur(3px) brightness(.7);
  }
}

.navbar {
  position: absolute;
}