<div @attributes="@CapturedAttributes">
  <a href="/">
    <img src="/images/tenkafuma-lulu-cat.gif">
  </a>
</div>

@code {
  [Parameter(CaptureUnmatchedValues = true)]
  public Dictionary<string, object>? CapturedAttributes { get; set; }
}